APScheduler==3.7.0
Pillow
aiohttp
asyncio
bs4
gitpython
gtts
heroku3
prettytable
psycopg2-binary
pymediainfo
pyrogram
python-dotenv
requests
speedtest-cli==2.1.3
sqlalchemy==1.3.23
telegraph
tgcrypto
